body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/*** Sidebar Part ***/

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

#sidebar.sidebar-open {
  width: 300px;
}

.filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  margin: 16px 0;
  border-width: 0 20px;
  border-style: solid;
  border-color: #f4f4f4;
  padding: 10px;
  outline: none;
  font-size: 14px;
}

.list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.list-item {
  margin: 0;
  padding: 12px 20px;
  cursor: pointer;
  list-style-type: none;
}

.list-item:hover, .list-item:focus, .list-item.selected {
  background-color: #fff;
}

.badges {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: scroll;
  text-align: center;
}

.graphcool-badge {
  display: inline-block;
  width: 141px;
  height: 49px;
  vertical-align: middle;
}

.graphcool-badge-img {
  display: block;
  width: 131px;
  height: 49px;
}

.foursquare-badge {
  display: inline-block;
  width: 47px;
  height: 47px;
  vertical-align: middle;
}

.foursquare-badge-img {
  display: block;
  width: 45px;
  height: 45px;
}

.netlify-attribution {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 30px;
  text-align: center;
  line-height: 24px;
}

.netlify-attribution a {
  color: #00c7b7;
}

.netlify-attribution a:hover {
  color: #00544b;
}

/*** Main Part (Map + Header) ***/

#map-w-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#map-w-header.open-sidebar-map {
  width: 400px;
}

/* Header Start */

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 50px;
  background-color: #f4f4f4;
}

#header .menu-icon-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  height: 32px;
  margin: 9px 12px;
  cursor: pointer;
}

#header .menu-icon-dash {
  width: 30px;
  height: 4px;
  margin: 5px 0;
  background-color: #000;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .menu-icon-container.clicked .menu-icon-dash-top {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

#header .menu-icon-container.clicked .menu-icon-dash-middle {
  opacity: 0;
}

#header .menu-icon-container.clicked .menu-icon-dash-bottom {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

#header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#header h1 {
  text-align: center;
  margin: 0;
  line-height: 50px;
  font-size: 1.3em;
}

/* Header End */

#map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* Info Window Start */

.info-window-custom {
  width: 300px;
  position: relative;
}

.info-window-custom h3 {
  margin: 12px 0 8px;
}

.info-window-custom p {
  margin: 6px 0 12px;
}

.info-window-custom img {
  display: block;
  margin: 10px 0 0;
}

.info-window-loader {
  position: absolute;
  top: 178px;
  left: 125px;
  width: 50px;
  height: 50px;
  border: 8px solid #f4f4f4;
  border-top: 8px solid #f94878;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.info-window-custom ul {
  list-style-type: none;
  margin: 13px 0;
  padding: 0 0 0 20px;
}

.info-window-custom a {
  color: #f94878;
}

/* Info Window End */
